# Virtual Environment Folder
venv_ir

# Data and results
sqa
data
data_sqa
sqa_reformatted
outs
outputs
results

# Models
tapas_reader
tapas_retriever

# Original Code
Authors_Code

# Misc
test.ipynb
.vscode
*\__pycache__
*\dist
*\open_domain_reprod.egg-info